<figure class="slider-main-img-figure">

	<% if @edit == true %>
	      <%= link_to '', { :controller => 'photos' , :action => 'photo_editor', :id => photo.id }, 
	                        class: 'image-edit-button' , :remote => true %>
	<% end %>

  <%= image_tag photo.image.big.url, :id => ( 'slider-fullsize-item-' + photo.id.to_s ) %>
  
  <div id="slider-main-img-footer" class="slider-main-img-footer">
	  <div class="slider-likes-section">

	  		<%= link_to ' ', add_like_path( photo.id, :type => 'Photo' ) , class: 'slider-like-button'%>
	  		<div class="slider-likes-counter">
	  		<%= likes %>
	  		</div>
	  		
	  </div>
	  <div class="slider-owner-section">
	  	<div id="owner-name">
	  		<span>разместил: </span>
	  		<%= link_to owner.username, user_path( owner.id )%>
	  	</div>
	  </div>
  </div>
</figure>