<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


    <% if @comment.commentable_type == 'Comment' %>

      <p>добавлен ответ на ваш комментарий</p>

      <blockquote><%= @commentable.body %></blockquote>

    <% end %>


    <% if @comment.commentable_type == 'Building' %>

      <p>К вашему сооружению <%= @commentable.title %> добавлен комментарий</p>

    <% end %>

    <% if @comment.commentable_type == 'Photo' %>

      <p>К вашей <%= link_to 'фотографии', building_schema_url( @building, @schema, :photo => @commentable.id ) %> добавлен комментарий</p>

    <% end %>

    <% if @comment.commentable_type == 'Guide' %>

      <p>К вашей <%= link_to 'отметке', building_schema_url( @building, @schema, :guide => @commentable.id ) %> добавлен комментарий</p>

    <% end %>

    <% if @comment.commentable_type == 'Article' %>

      <p>К вашей статье <%= @commentable.title %> добавлен комментарий</p>

    <% end %>

    <blockquote><%= @comment.body %></blockquote>

    
  </body>
</html>