<div class="white-article-background">

  <div id="content-inner-wrap" class="inner-wrap"> 

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div class="profile-header">
      <h2><%= @user.username %></h2>
    
    	<%= link_to 'редактировать профиль', :controller => 'users', :action => 'setting' if current_user.present? && @user.id == current_user.id %>
    </div>


    <div class="content-section">
      <h2 class="index-post-header">Добавленные сооружения</h2>

      	<ul class="articles-list">
              	<%= render(:partial => 'shared/post_preview', :collection => @user.buildings.reverse, :as => 'post') || 'пользователь не добавил сооружений' %>
        </ul>

      <% if current_user.present? && @user.id == current_user.id %>
        <%= link_to 'добавить сооружение', new_building_path, :rel => 'nofollow', class: "add-post-button"  if can? :create, Building %>
      <% end %>
    </div>

    <div class="content-section">
      <h2 class="index-post-header">Добавленные статьи</h2>
      	<ul class="articles-list">
          	<%= render(:partial => 'shared/post_preview', :collection => @user.articles.reverse, :as => 'post') || 'пользователь не добавил статей' %>
          </ul>

      <% if current_user.present? && @user.id == current_user.id %>
         <%= link_to 'добавить статью', new_article_path, :rel => 'nofollow', class: "add-post-button"  if can? :create, Article %>
      <% end %>
    </div>

   

  </div>
</div>


<% if params.has_key?(:set_js_user_id) %>
  <script type="text/javascript">
    $(function() {
        get_current_user_id()
    });
  </script>
<% end %>
