	
	<div class="schema-photo-header">

		<%= link_to ' ', add_like_path( @markerable.id, :type => type ) , class: 'slider-like-button'%>
		
	  		<div class="slider-likes-counter">
	  		<%= @likes %>
	  		</div>
	  		<span class="separator">|</span>
	  		<%= link_to @owner.username, user_path( @owner.id )%>
	  	<div id="close-show-photo-button"></div>	
	</div>
	<div id="photo-section">

		<%= image_tag @markerable.image.url, :name => 'photo[image]', :id => 'photo-big-preview' if @markerable.image.present?  %>
		
	</div>

	<%- if @markerable.has_attribute?('title') %>

		<div class="title-section">
			<%= @markerable.title %>
		</div>

	<%- end %>


	<div class="text-section">
		<%= @markerable.text %>
	</div>
	<div id="comments-section">
	
		<div id="comment-list">
			<%= render  @markerable.comments.select { |c| c[:published] == true }  %>
		</div>
		
		<%= render partial: 'comments/form', object: @markerable, as: 'commentable' %>

	</div>
