
<li class="post-preview-content shadow">
  	
  	<% if post.image.thumb.present? %>
		<%=  link_to polymorphic_path(post), data: { no_turbolink: true } do %>
		        <%= image_tag post.image.thumb.url %>
		<% end %>
	<% end %>
	
  	<div class="post-preview-main">
	    <div class="post-preview-body">

	      <span class="creation-date"><%= post.created_at.strftime("%d %B %Y") %></span>
	      <%=  link_to polymorphic_path(post), class: 'header-link', data: { no_turbolink: true } do %>
	        <%= post.title %>
	      <% end %>
	    
	      <p><%= post.intro %></p>
	                    
	    </div>

	    <div class="post-preview-footer">
    		<%= render partial: 'shared/object_category', object: post, :as => 'post' if post.has_attribute?('category_id') %> 
    	</div>

    </div> 
               
</li>    