<div id="content-inner-wrap" class="inner-wrap">	
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>

		<article id="article-main" class="article-body">

			<header class="article-header">
				<h1><%= @building.title %></h1>
				<ul>
					<li><%= @owner.username %></li> | 
					<li><%= @building.created_at.strftime("%d %B %Y") %></li>
				</ul>
			</header>

			<% if @building.published == false %>
				<%= render(:partial => 'shared/moderation' ) %>
			<% end %>

			<% if @parent.present? %>
				<div class="parent-building">
				Это сооружение относится к 
				<%=  link_to @parent.title , building_path(@parent), class: 'header-link', data: { no_turbolink: true } %>
				</div>

			<% end %>
						
			<%= kramdown @building.text %>

			

		</article>

		<% if  @building.buildings.count > 0 %>
			<div class="nested-buildings-section">
				<span class="nb-header">дочерние сооружения</span>

				<ul class="nested-buildings-list">
					<%= render(:partial => 'nested_building', :collection => @building.buildings , :as => 'post') %>
				</ul>
			</div>
		<% end %>


		

			<% if can? :edit, @building %>
		        <div class="admin-edit-links">
		             <%= link_to 'редактировать', edit_building_path(@building), data: { no_turbolink: true }  %>
		        </div>
		    <% end %>

		<p class="call-to-comment">
		hiddenhistory является открытым проектом, и поэтому если вы можете дополнить эту статью или обнаружили какие-то ошибки или неточности вы можете сообщить об этом в комментариях. Мы будем благодарны за любую помощь!
		</p>

			<% if @building.comments.count > 0 %>
				<div class="strong-header">комментарии к статье:</div>
			<% end -%>
			
			<ul id="comment-list">
				<%= render @building.comments.select { |c| c[:published] == true }  %>
			</ul>
					
					
		<br><br>
		<div class="strong-header">добавить комментарий:</div>

		<%= render partial: 'comments/form', object: @building, as: 'commentable' %>
		
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $(window).trigger('article-show-start')
    });
</script>