<div id="content-inner-wrap" class="inner-wrap">	
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>

		<%= render partial: 'shared/post_content', object: @building, as: 'post', :locals => {:owner => @owner }  %>


		<% if  @building.buildings.count > 0 %>
			<div class="nested-buildings-section">
				<span class="nb-header">дочерние сооружения</span>

				<ul class="nested-buildings-list">
					<%= render(:partial => 'nested_building', :collection => @building.buildings , :as => 'post') %>
				</ul>
			</div>
		<% end %>


		<p class="call-to-comment">
		hiddenhistory является открытым проектом, и поэтому если вы можете дополнить эту статью или обнаружили какие-то ошибки или неточности вы можете сообщить об этом в комментариях. Мы будем благодарны за любую помощь!
		</p>

			<% if @building.comments.count > 0 %>
				<div class="strong-header">комментарии к статье:</div>
			<% end -%>
			
			<ul id="comment-list" class="white-box shadow">
				<%= render @building.comments.select { |c| c[:published] == true }  %>
			</ul>
					
					
		<br><br>
		<div class="strong-header">добавить комментарий:</div>

		<%= render partial: 'comments/form', object: @building, as: 'commentable' %>
		
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $(window).trigger('article-show-start')
    });
</script>