<div id="admin-sidebar">
	<nav>
		<%= link_to 'панель управления', :controller => :dashboard, :action => :index %>
		<%= link_to 'новости', {:controller => :news, :action => :index } %>		
		<%= link_to 'статьи', 	:controller => :articles, :action => :index %>
		<%= link_to 'сооружения', :controller => :buildings, :action => :index %>
		<%= link_to 'категории объектов', {:controller => :categories, :action => :index, :parent_resourse => 'Building'} %>
		<%= link_to 'категории статей', {:controller => :categories, :action => :index, :parent_resourse => 'Article'} %>
		<%= link_to 'пользователи', {:controller => :users, :action => :index } %>		
	</nav>
</div>