<div id="main-sidebar">
	<div id="page-title" class="page-title">
		<div id="sidebar-menu-toggle" class="sidebar-menu-toggle"></div>
		<div id="sidebar-title">
			История XX века
		</div>
	</div>
	<div id="sidebar-content">
		<ul id="news-sidebar-era-select">
			<li>
				<div>
					<%= link_to '1900', :controller => :news, :action => :index, :era => '1900' %>
				</div>		
			</li>
			<li>
				<div>
					<%= link_to '1910', :controller => :news, :action => :index, :era => '1910' %>
				</div>	
			</li>
			<li>
				<div>
					<%= link_to '1920', :controller => :news, :action => :index, :era => '1920' %>
				</div>
			</li>
			<li>
				<div>
					<%= link_to '1930', :controller => :news, :action => :index, :era => '1930' %>
				</div>
			</li>
			<li>
				<div>
					<%= link_to '1940', :controller => :news, :action => :index, :era => '1940' %>
				</div>	
			</li>
			<li>
				<div>
					<%= link_to '1950', :controller => :news, :action => :index, :era => '1950' %>
				</div>
			</li>
			<li>
				<div>
					<%= link_to '1960', :controller => :news, :action => :index, :era => '1960' %>
				</div>
			</li>
			<li>
				<div>
					<%= link_to '1970', :controller => :news, :action => :index, :era => '1970' %>
				</div>	
			</li>
			<li>
				<div>
					<%= link_to '1980', :controller => :news, :action => :index, :era => '1980' %>
				</div>	
			</li>
			<li>
				<div>	
					<%= link_to '1990', :controller => :news, :action => :index, :era => '1990' %>
				</div>	
			</li>
		</ul>
	</div>
</div>