<div id="content-inner-wrap" class="inner-wrap post-wrapper">
  <% flash.each do |name, msg| -%>
  	<%= content_tag :div, msg, class: name %>
  <% end -%>


  <article id="building-photo-main" class="photo-gallery-index">

  <% if defined? @building %>
    <h3>фотографии "<%= @building.title %>"</h3>
  <% end %>

  <% if defined? @user %>
    <h3>фотографии пользователя <%= @user.username %></h3>
  <% end %>

    <%= render partial: 'photos/partials/year_navigation' %>

    <div id="basic-photo-gallery">

      <% if @photos.count > 0 %>
    	  <% @photos.each do |photo| %>
        
          <%= render partial: 'photos/partials/figure', :object => photo, as: 'photo', locals: { edit: @edit } %>

        <% end %>
      <% end %>

    </div>
    <hr>
    <div id="pagination-section">
      <%= will_paginate @photos %>
    </div>
    <br>
    

    

    <% if current_user.present? && defined? @building %>
      <h2>добавить фотографии</h2>
      <%= render partial: 'photos/partials/new_photo_form' %>
    <% else %>
      <%= render partial: 'photos/partials/photo_please_login' %>
    <% end %>

  </article>
</div>

<script type="text/javascript">
    $(function() {
        bind_actions_on_photo_gallery();
    });
</script>
