<div id="content-inner-wrap" class="inner-wrap">

	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: name %>
	<% end -%>

	<div id="basic-photo-gallery"></div>

	<%= form_for [ @building , Photo.new ], html: { class: "multiple-image-upload" } do |f| %>

		<p class="help-text light-gray-text">Перед тем как загружать новые изображения, удостоверьтесь что эти изображения уже не были загружены кем-то раньше. Если вы сможете отметить положение на схеме объекта, то это можно будет сделать либо, загрузив изображения здесь и потом перейдя в раздел "схемы", либо сразу загружая изображения в разделе "схемы"</p>

	  	<%= f.label :year, "год", :class => 'form-label' %>
	  	<p class="help-text">вы можете сразу указать год, в котором были сделаны фотографии</p>
	  	<%= f.text_field :year, class: 'form-input' %>


	  	<%= f.label :author, "источник фотографий", :class => 'form-label' %>
	  	<p class="help-text">Если фотографии позаимствованы из какого-то источника, то вы можете указать откуда именно</p>
	  	<%= f.text_field :author, class: 'form-input' %>
		
	  	<div id="image-upload-main">

	  
	  	<br><br> 

	    <%= f.file_field  :images, id: 'image-input-field', name: "post_photos[]", :multiple => true %>

	    <div class="confirm-green-button">
		    <%= f.submit "опубликовать фотографии" %>
		</div>

	 
	<% end %>

</div>


<script type="text/javascript">
    $(function() {
        $(window).trigger('photo-upload-start')
    });
</script>